body    {
    background-color: black !important;
    color: white;
}
.head-panel {
    background-image: url('../img/heading.jpg') !important;
    height: 100%;
    width: 100%; 
}
.heading    {
    color: yellow;
    text-align: center;
}

.content    {
    margin-left: 18%;
    width: 64%;
}

.house  {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
}

.house-heading  {
    margin-bottom: 10px;
    margin-top: 18px;
}
.house-img-div  {
    width: 20%;
    padding-right: 2%;
    float: left;
}

.house-img  {
    width: 100%;
    float: left;
}

.house-content  {
    width: 100%;
    min-height: 70px;
}

.hr {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    color: yellow;
}

.footer {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.icon-div   {
    margin-top: 30px;
}

.icon   {
    width: 30px;
}

.power  {
    text-align: right;
    font-size: 8px;
}